body{
  background-color:#DAE3F3;
margin:0;
text-align: center;
}

h1 {
  margin-top:0;
  padding-left: 20;
}

/*--------------------Selectors--------------------------------------
pink code #ED21AC*/

.top-box {
  background-color: #DAE3F3 ;
  height: 100px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.top-cloud {
display:block;
position: relative;
top:0;
left:80px;
}

.middle-cloud {
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  right: 150px;
  top: 150px;
  width:25%;

}
.middle-box {
  background-color: #DAE3F3;
  height: auto;
  width: 1263.33px;
  margin: 0;
  position: relative;
  bottom:auto;
}

.external-links {
  background-color: #DAE3F3;
  height: auto;
  width: 1330px;
  padding:20px;
  position: absolute;
  right: 200px;
  top: 200px;
}

.mountain-pink {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
   }
.middle-cloud {
margin: 0 auto;

.full-image {
  height: 600px;
  width: 1263.33px;
}

.external-links {
  background-color: #DAE3F3;
  height: auto;
  width: 200px;
  padding:20px;
  position: absolute;
  right: 200px;
  top: 250px;
}
.mountain-pink {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }

.p {
display: inline-block;

}

.profile-image {
  position: absolute;
  left:100px;
  top:0;
}
