body{
  background-color:#DAE3F3;
margin:0;
text-align: center;
}

h1 {
  margin-top:0;
  padding-left: 20;
}

/*--------------------Selectors--------------------------------------
pink code #ED21AC*/
.top-box {
  background-color: #DAE3F3 ;
  height: 200px;
  padding:20px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.middle-box {
  background-color: #DAE3F3;
  height: auto;
  width: 1330px;
  padding:20px;
  margin: 0;
  position: relative;
  bottom:auto;
}

.mountain-pink {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
   }
.middle-cloud {
margin: 0 auto;

}
.full-image {
  height: 600px;
  width: 1330px;
}

.mountain-pink {
  display: block;
  margin: auto:
  position: relative;
  right: 5em;
  bottom: 4em;
}
.middle-cloud {
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  right: 200px;
  top: 100px;

}
.p {
display: inline-block;

}

.profile-image {
  position: absolute;
  left:100px;
  top:30px;
}
